/*-variables=*/
:root {
    --bg-body: #fff;
    --font-title: #212121;
    --accent: #2196f3;
    --font-p: #757575;
    --header-border: #ececec;
    --bg-order: #c4c4c4;
    --font-order: #fff;
    --font-active-button: #fff;
    --bg-hover-buton-order: #188ce8;
    --bg-our-team: #f5f4fa;
    --bg-footer: #2f303a;
    --footer-text: #fff;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --bg-button: #f5f4fa;
    --border-card: #eeeeee;
    --social-icon: #afb1b8;
    --backdrop: rgba(0, 0, 0, 0.2);
    --card-overlay: rgba(33, 150, 243, 0.9);
    --border-input: rgba(33, 33, 33, 0.2);
}

/*-RESET-*/
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}


/*-base-*/
body {
    font-family: 'roboto', sans-serif;
    color: var(--font-p);
    background-color: var(--bg-body);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

/*-UI home page-*/
/*-header-*/

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.nav {
    border-bottom: 1px solid var(--header-border);
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav .link {
    font-weight: 500;
    text-decoration: none;
    color: var(--font-title);
    letter-spacing: 0.02em;
}

.nav .link:focus,
.nav .link:hover {
    color: var(--accent);
}

.nav-logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--font-title);
    text-decoration: none;
    letter-spacing: 0.03em;
}

.nav .nav-logo:hover,
.nav-logo:focus,
.nav-logo:active {
    color: var(--font-title);
}

.logo1 {
    color: var(--accent)
}

.nav-menu {
    display: flex;
    margin-left: 93px;
}

.nav-menu .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--font-p);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--font-p);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-item+.nav-menu-item {
    margin-left: 50px;
}

.nav-menu-item {
    position: relative;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent);
}

.contact-icon {
    margin-right: 10px;
    fill: var(--font-p);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover .contact-icon,
.contacts .link:focus .contact-icon {
    fill: var(--accent);
}


.nav .active-page {
    color: var(--accent);
}

.nav .active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent);
}

/*-main-*/

/*-order-*/

.order {
    padding: 200px 0px;
    background-color: var(--bg-order);
}

.order-overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order-title {
    width: 696px;
    padding: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--font-order);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.order-button {
    min-width: 200px;
    padding: 10px 32px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--font-active-button);
    background-color: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus,
.sub-button:hover,
.sub-button:focus,
.button-submit:hover,
.button-submit:focus {
    background-color: var(--bg-hover-buton-order);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/*-preferences-*/

.pref-list {
    display: flex;
    flex-wrap: wrap;
}

.pref-list .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    text-align: left;
}

.pref-list .item:nth-child(4n) {
    margin-right: 0px;
}

.pref-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--font-title);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.preferences p {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.preferences-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-button);
}

/*-what we do-*/

.what-we-do {
    padding-top: 0px;
}

.what-list {
    display: flex;
    justify-content: center;
}

.what-list .item {
    margin-right: 30px;
    position: relative;
}

.what-list .item:nth-child(3n) {
    margin-right: 0px;
}

.what-we-do .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--font-title);
}

.what-we-do .signature {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-body);
    background: rgba(47, 48, 58, 0.8);
}

/*-our team-*/

.our-team {
    background-color: var(--bg-our-team);
}

.team-list {
    display: flex;

}

.our-team .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--font-title);
    letter-spacing: 0.03em;
}

.our-team .item {
    margin-right: 30px;
    background-color: var(--bg-body);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.our-team .item:nth-child(4n) {
    margin-right: 0px;
}

.our-team .card-title {
    padding: 30px 0;
}

.our-team .name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--font-title);
}

.our-team .prof {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.social-links {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}

.social-links .links {
    display: flex;
}

.sli {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .svg:not(:last-child) {
    margin-right: 10px;
}

.social-links .icon {
    fill: var(--social-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sli:hover,
.sli:focus {
    background-color: var(--accent);
}

.sli:hover .icon,
.sli:focus .icon {
    fill: var(--bg-body);
}


/*-Clients-*/

.clients .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-title);
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-icon);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover,
.company-link:focus {
    border-color: var(--accent);
}

.company-link:hover .icon-client,
.company-link:focus .icon-client {
    fill: var(--accent);
}


.icon-client {
    fill: var(--social-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-UI portfolio-*/
/*-buttons-*/

.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.li+.li {
    margin-left: 8px;
}

.buttons .button {
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-title);
    background-color: var(--bg-button);
    border: 1px transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .button:hover,
.buttons .button:focus {
    color: var(--font-active-button);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*-portfolio-*/

.filter-list {
    display: flex;
    flex-wrap: wrap;
}

.filter-list .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter-list .item:nth-child(3n) {
    margin-right: 0px;
}

.filter-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.filter-list .title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--font-title);
}

.filter-list .category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--font-p);
}

.filter-list .card-title {
    padding: 20px 24px;
    text-align: left;
    border-left: 1px solid var(--border-card);
    border-bottom: 1px solid var(--border-card);
    border-right: 1px solid var(--border-card);
}

.filter-list .link {
    text-decoration: none;
}

.filter-list .item:hover,
.filter-list .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-list .img {
    display: block;
}

.card-overlay {
    position: relative;
    overflow: hidden;
}

.description {
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--bg-body);
    background-color: var(--card-overlay);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter-list .link:hover .description,
.filter-list .link:focus .description {
    transform: translateY(-101%);
}

/*-footer-*/

.footer {
    padding: 60px 0px;
    background-color: var(--bg-footer);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-container {
    display: flex;
}

.footer-adress {
    margin-right: 70px;
}

.footer .link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-text);
}

.footer .link:hover,
.footer .link:focus,
.footer .link:active {
    color: var(--footer-text);
}

.block-address {
min-width: 231px;
}

.footer .address {
    margin-bottom: 9px;
    /* padding-right: 15px; */
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--footer-text);
}

.footer-contacts .link {
    font-style: normal;
    color: var(--footer-contacts);
}

.footer-contacts .mail {
    margin-bottom: 9px;
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: var(--accent);
}

.footer-contacts .mail {
    margin-bottom: 9px;
}

.footer .title {
    margin-bottom: 20px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text);
}

.footer-social {
    margin-right: 93px;
    padding-top: 12px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social .item {
    width: 44px;
    height: 44px;

}

.footer-social .item:not(:last-child) {
    margin-right: 10px;
}

.sl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl .icon {
    fill: var(--footer-text)
}

.footer-social .sl:focus,
.footer-social .sl:hover {
    background-color: var(--accent);
}

.footer-subscribe {
    flex-grow: 1;
    padding-top: 12px;
}

.subscribe {
    width: 100%;
}

.subscribe-form{
    display: flex;
    justify-content: right;
    align-items: center;
}

.subscribe .input {
    height: 50px;
    width: 100%;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-footer);
    color: var(--footer-text);
}

.sub-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px 29px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent);
    color: var(--footer-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

.sub-button .icon{ 
    fill: var(--footer-text);
    margin-left: 10px;
}


/*-Modal-*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: var(--backdrop);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--bg-body);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--bg-body);
    cursor: pointer;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close-icon,
.close:focus .close-icon {
    fill:var(--accent);
}

.modal-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-title);
}

.form {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label {
    margin-bottom: 4px;
    font-size: 12px;
}

.form-input {
    margin: 0;
    padding: 12px 42px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.modal-position {
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-visible,
.modal-position:hover .form-input,
.modal-position:focus .form-input {
    border-color: var(--accent);
}

.modal-position:hover .modal-icon,
.modal-position:focus .modal-icon,
.form-input:focus-visible + .modal-icon {
    fill: var(--accent);
}

.form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.textarea-input {
    resize: none;
    margin: 0;
    padding: 12px 16px;
    height: 120px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px
}

.textarea-input:hover,
.textarea-input:focus,
.textarea-input:focus-visible {
    border-color: var(--accent);
}

.textarea-input::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox {
    position: absolute;
}

.check-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.icon-policy {
    opacity: 0;
    flex-shrink: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent);
    border-radius: 2px;
}

.checkbox:checked ~ .icon-policy {
    opacity: 1;
}

.policy-input{
    display: flex;
    align-items: center;
    justify-content: center
    margin-left: 7px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}

.terms {
    padding-left: 7px;
}

.terms-link {
    color: var(--accent);
}

.button-submit {
    display: block;
    margin: auto;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-active-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    background-color: var(--accent);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
